@page
@model Project334.Pages.BusinessActivities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusinessActivity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessActivity.WorkingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessActivity.WorkingDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessActivity.VisitorCheckIn)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <th>Mobile</th>
                    <th>CheckIn</th>
                </tr>
                @foreach (var item in Model.BusinessActivity.VisitorCheckIn)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobilePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckIn)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessActivity.VisitorCheckOut)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <th>Mobile</th>
                    <th>CheckOut</th>
                </tr>
                @foreach (var item in Model.BusinessActivity.VisitorCheckOut)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobilePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckOut)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Businesses/Details" asp-route-id="@Model.BusinessActivity.BusinessID">Back to business activity</a>
</div>
