@page
@model Project334.Pages.AddressDates.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="shadow p-3 m-3 bg-light rounded-lg">
    <h1 class="display-4">Dangerous Addresses</h1>
    <hr class="my-4">
</div>

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressDate.StreetNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressDate.StreetNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressDate.StreetName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressDate.StreetName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressDate.City)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressDate.City)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressDate.State)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressDate.State)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressDate.ZipCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressDate.ZipCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressDate.Country)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressDate.Country)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AddressDate.DateOfVisit)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressDate.DateOfVisit)
        </dd>
    </dl>
</div>

<div>
    @if (Model.User.IsInRole("Admin") || Model.User.IsInRole("Government"))
    {
        <a class="btn btn-primary" role="button" asp-page="./Edit" asp-route-id="@Model.AddressDate.ID">Edit</a>
    }
    <a class="btn btn-primary" role="button" asp-page="./Index">Back to List</a>
</div>