@page
@model Project334.Pages.Vaccines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
        <h4 class="display-4">Vaccine Certificate</h4>
        <hr class="my-4">
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
        <h4>Personal Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Patient.FirstMidName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Patient.FirstMidName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Patient.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Patient.LastName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Patient.MobilePhone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Patient.MobilePhone)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Patient.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Patient.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Medicare)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Appointment.BookAppointment.Medicare)
            </dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
        <h4>Vaccine</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Vaccine.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Vaccine.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Vaccine.Number)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Vaccine.Number)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Vaccine.ProductionDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Vaccine.ProductionDate)
            </dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
        <h4>Vaccination place</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MedicalInstitution.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MedicalInstitution.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MedicalInstitution.FullAddress)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MedicalInstitution.FullAddress)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MedicalInstitution.Phone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MedicalInstitution.Phone)
            </dd>
            <dt class="col-sm-3">
                Vaccination Date
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Appointment.AppointmentDate)
            </dd>
            <dt class="col-sm-3">Link</dt>
            <dd class="col-sm-9">
                <a class="fw-bold text-primary text-decoration-none" asp-page="/MedicalInstitutions/Details" asp-route-id="@Model.MedicalInstitution.ID">Visit Medical Place</a>
            </dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-8">
        <a class="btn btn-primary" role="button" asp-page="./Edit" asp-route-id="@Model.Vaccine.VaccineID">Edit</a>
        <a class="btn btn-primary" role="button" asp-page="./Index">Back to List</a>
    </div>
</div>