@page
@model Project334.Pages.Vaccines.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="shadow p-3 m-3 bg-light rounded-lg">
    <h1 class="display-4">Done Vaccines</h1>
    <hr class="my-4">
    <a class="btn btn-info" asp-page="Create" role="button">Create New</a>
</div>

<table class="font-monospace table table-info table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vaccine[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccine[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccine[0].ProductionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vaccine)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionDate)
                </td>
                <td>
                    <a class="text-primary text-decoration-none" asp-page="./Edit" asp-route-id="@item.VaccineID">Edit</a> |
                    <a class="text-primary text-decoration-none" asp-page="./Details" asp-route-id="@item.VaccineID">Details</a> |
                    <a class="text-primary text-decoration-none" asp-page="./Delete" asp-route-id="@item.VaccineID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
