@page
@model Project334.Pages.BookAppointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookAppointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAppointment.Patient.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAppointment.Patient.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAppointment.Patient.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAppointment.Patient.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAppointment.Patient.HadVirus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAppointment.Patient.HadVirus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAppointment.Patient.MobilePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAppointment.Patient.MobilePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAppointment.Patient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAppointment.Patient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAppointment.EligibilityToVaccine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAppointment.EligibilityToVaccine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAppointment.Medicare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAppointment.Medicare)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Appointments/Create" asp-route-id="@Model.BookAppointment.BookAppointmentID" 
                                       asp-route-lastname="@Model.BookAppointment.Patient.LastName"
                                       asp-route-firstname="@Model.BookAppointment.Patient.FirstMidName"
                                       asp-route-mobilephone="@Model.BookAppointment.Patient.MobilePhone"
                                       asp-route-email="@Model.BookAppointment.Patient.Email"
                                       asp-route-hadvirus="@Model.BookAppointment.Patient.HadVirus"
                                       asp-route-medicare="@Model.BookAppointment.Medicare"
           > Create Appointment</a>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookAppointment.BookAppointmentID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
