@page
@model Project334.Pages.MedicalInstitutions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.MedicalInstitution.Name</h1>

<div>
    <h4>Information and Activities</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.Email)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.StreetNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.StreetNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInstitution.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalInstitution.ZipCode)
        </dd>
    </dl>

    <div>
        <b><a asp-page="/BookAppointments/Create" asp-route-Id="@Model.MedicalInstitution.ID">Book an appointment</a></b>
    </div>
    <hr />
    @*@if (Model.User.IsInRole("Admin") || Model.User.IsInRole("Government") || Model.User.IsInRole("Medical"))
        {*@
    <div><b>Booked Appointments</b></div>
    <dl class="row">
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <th>Eligibility To Vaccine</th>
                    <th>Had virus before?</th>
                    <th>Medicare</th>
                </tr>
                @foreach (var item in Model.BookAppointments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.FullName)
                        </td>
                        @*@Html.DisplayFor(modelItem => item.EligibilityToVaccine)*@
                        @if (item.EligibilityToVaccine == true)
                        {
                            <td>Yes</td>
                        }
                        @if (item.EligibilityToVaccine == false)
                        {
                            <td><div class="badge bg-primary text-wrap" style="width: 6rem;">No</div></td>
                        }
                        @*@Html.DisplayFor(modelItem => item.Patient.HadVirus)*@
                        @if (item.Patient.HadVirus == true)
                        {
                            @*<td class="text-warning"><b>Yes</b></td>*@
                            <td><div class="badge bg-warning text-wrap" style="width: 6rem;">Yes</div></td>
                        }
                        @if (item.Patient.HadVirus == false)
                        {
                            <td>No</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Medicare)
                        </td>
                        <td><a asp-page="/BookAppointments/Details" asp-route-Id="@item.BookAppointmentID">Details</a></td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

    @if (Model.User.IsInRole("Admin") || Model.User.IsInRole("Government") || Model.User.IsInRole("Medical"))
    {
        <div><b>Appointments</b><br /></div>
        <dl class="row">
            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Full Name</th>
                        <th>Mobile</th>
                        <th>Shot date</th>
                        <th>Vaccine Num</th>
                    </tr>
                    @foreach (var item in Model.MedicalInstitution.Appointment)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookAppointment.Patient.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookAppointment.Patient.MobilePhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vaccine.Number)
                            </td>
                            <td><a asp-page="/Appointments/Details" asp-route-Id="@item.AppointmentID">Details</a></td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
        <hr />
    }

    @*}*@

</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
