@page
@model Project334.Pages.MedicalInstitutions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <h1 class="display-4">@Model.MedicalInstitution.Name</h1>
    <hr class="my-4">
    <a class="btn btn-success" role="button" asp-page="/BookAppointments/Create" asp-route-Id="@Model.MedicalInstitution.ID">Book an appointment</a>
    @*@if (Model.User.IsInRole("Admin") || Model.User.IsInRole("Medical") || Model.User.IsInRole("Patient)
        {
            <a class="btn btn-success" role="button" asp-page="/BookAppointments/Create" asp-route-Id="@Model.MedicalInstitution.ID">Book an appointment</a>
        }*@
</div>

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.Name)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.Name)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.Phone)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.Phone)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.Email)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.Email)</div>
    </div>
</div>

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <h4>Address</h4>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.StreetNumber)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.StreetNumber)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.StreetName)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.StreetName)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.City)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.City)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.State)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.State)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.ZipCode)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.ZipCode)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.MedicalInstitution.Country)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.MedicalInstitution.Country)</div>
    </div>
</div>


@*@if (Model.User.IsInRole("Admin") || Model.User.IsInRole("Government") || Model.User.IsInRole("Medical"))
    {*@
@if (Model.BookAppointments != null && Model.BookAppointments.Count != 0)
{
    <div class="badge bg-success text-wrap fs-5" style="width: 20rem;">Booked Appointments</div>
    <table class="font-monospace table table-success table-striped table-hover col-md-10">
        <tr>
            <th>Full Name</th>
            <th>Eligibility</th>
            <th>Had Virus?</th>
            <th>Medicare</th>
            <th></th>
        </tr>
        @foreach (var item in Model.BookAppointments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td>
                @*@Html.DisplayFor(modelItem => item.EligibilityToVaccine)*@
                @if (item.EligibilityToVaccine == true)
                {
                    <td>Yes</td>
                }
                @if (item.EligibilityToVaccine == false)
                {
                    <td><div class="badge bg-primary text-wrap" style="width: 6rem;">No</div></td>
                }
                @*@Html.DisplayFor(modelItem => item.Patient.HadVirus)*@
                @if (item.Patient.HadVirus == true)
                {
                    @*<td class="text-warning"><b>Yes</b></td>*@
                    <td><div class="badge bg-warning text-wrap" style="width: 6rem;">Yes</div></td>
                }
                @if (item.Patient.HadVirus == false)
                {
                    <td>No</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Medicare)
                </td>
                <td><a class="text-primary text-decoration-none" asp-page="/BookAppointments/Details" asp-route-Id="@item.BookAppointmentID">Details</a></td>
            </tr>
        }
    </table>
}



@if (Model.User.IsInRole("Admin") || Model.User.IsInRole("Government") || Model.User.IsInRole("Medical"))
{
    <div class="badge bg-success text-wrap fs-5" style="width: 20rem;">Appointments</div>
    <table class="font-monospace table table-success table-striped table-hover col-md-10">
        <tr>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Shot date</th>
            <th>Vaccine Num</th>
            <th></th>
        </tr>
        @foreach (var item in Model.MedicalInstitution.Appointment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookAppointment.Patient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookAppointment.Patient.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaccine.Number)
                </td>
                <td><a class="text-primary text-decoration-none" asp-page="/Appointments/Details" asp-route-Id="@item.AppointmentID">Details</a></td>
            </tr>
        }
    </table>
}


@if (Model.Appointments != null && Model.Appointments.Count() != 0 || Model.User.IsInRole("Patient"))
{
    <div class="badge bg-success text-wrap fs-5" style="width: 20rem;">Appointments</div>
    <table class="font-monospace table table-success table-striped table-hover col-md-10">
        <tr>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Shot date</th>
            <th>Vaccine Num</th>
        </tr>
        @foreach (var item in Model.Appointments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookAppointment.Patient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookAppointment.Patient.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaccine.Number)
                </td>
                <td><a class="text-primary text-decoration-none" asp-page="/Appointments/Details" asp-route-Id="@item.AppointmentID">Details</a></td>
            </tr>
        }
    </table>
    @*}*@
}

    <div>
        <a class="btn btn-primary" role="button" asp-page="./Index">Back to List</a>
    </div>
