@page
@model Project334.Pages.MedicalInstitutions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalInstitution[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalInstitution[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalInstitution[0].MedicalAddress.FullAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicalInstitution) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalAddress.FullAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedicalInstitutionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MedicalInstitutionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedicalInstitutionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
