@page
@model Project334.Pages.DangerousCases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DangerousCase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.MobilePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DangerousCase.MobilePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DangerousCase.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DangerousCase.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DangerousCase.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DangerousCase.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DangerousCase.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.ConfirmDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DangerousCase.ConfirmDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DangerousCase.HasVaccine)
        </dt>
        @if (Model.DangerousCase.HasVaccine == true)
        {
            <dd class="col-sm-10">Yes</dd>
        }
        @if (Model.DangerousCase.HasVaccine == false)
        {
            <dd class="col-sm-10">No</dd>
        }
        <dt class="col-sm-10">
            <a asp-page="/Addresses/CreateNew" asp-route-Id="@Model.DangerousCase.ID">Add Address</a>
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Street Number</th>
                    <th>Street Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Country</th>
                </tr>
                @foreach (var item in Model.DangerousCase.VisitedPlaces)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DangerousCase.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
