@page
@model Project334.Pages.DangerousCases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <h4 class="display-4">Dangerous Case</h4>
    <a class="btn btn-danger" role="button"  asp-page="/AddressDates/Create" asp-route-Id="@Model.DangerousCase.ID">Add Address</a>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.LastName)</div>
        <h4 class="col-md-5">@Html.DisplayFor(model => model.DangerousCase.LastName)</h4>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.FirstMidName)</div>
        <h4 class="col-md-5">@Html.DisplayFor(model => model.DangerousCase.FirstMidName)</h4>
    </div>
</div>

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.MobilePhone)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.DangerousCase.MobilePhone)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.Email)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.DangerousCase.Email)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.DOB)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.DangerousCase.DOB)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.Sex)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.DangerousCase.Sex)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.ConfirmDate)</div>
        <div class="col-md-5">@Html.DisplayFor(model => model.DangerousCase.ConfirmDate)</div>
    </div>
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.DangerousCase.HasVaccine)</div>
        @if (Model.DangerousCase.HasVaccine == true)
        {
            <div class="col-md-5">Yes</div>
        }
        @if (Model.DangerousCase.HasVaccine == false)
        {
            <div class="col-md-5">No</div>
        }
    </div>
</div>

<div class="badge bg-danger text-wrap fs-5" style="width: 16rem;">Visited Addresses</div>
    <table class="font-monospace table table-danger table-striped table-hover col-md-10">
        <tr>
            <th>Date of Visit</th>
            <th>Street Number</th>
            <th>Street Name</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Country</th>
        </tr>
        @foreach (var item in Model.DangerousCase.VisitedPlaces)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfVisit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
            </tr>
        }
    </table>
<div>
    <a class="btn btn-primary" role="button" asp-page="./Edit" asp-route-id="@Model.DangerousCase.ID">Edit</a> |
    <a class="btn btn-primary" role="button" asp-page="./Index">Back to List</a>
</div>
