@page
@model Project334.Pages.DangerousCases.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DangerousCase[0].MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangerousCase[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangerousCase[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangerousCase[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangerousCase[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangerousCase[0].ConfirmDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangerousCase[0].HasVaccine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DangerousCase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmDate)
            </td>
                @if (item.HasVaccine == true)
                {
                    <td>Has vaccine</td>
                }
                @if (item.HasVaccine == false)
                {
                    <td>No vaccine</td>
                }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
