@page
@model Project334.Pages.Alerts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <h4 class="display-4">Alert Details</h4>
    <hr class="my-4">
</div>

<div class="shadow p-3 m-3 bg-light rounded-lg col-md-8">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Alert.Comment)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Alert.Comment)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Alert.DangerousCase.ConfirmDate)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alert.DangerousCase.ConfirmDate)
        </dd>
    </dl>
</div>

@if (Model.Alert.DangerousCase.VisitedPlaces != null && Model.Alert.DangerousCase.VisitedPlaces.Count != 0)
{
<div class="badge bg-danger text-wrap fs-5" style="width: 16rem;">Visited Addresses</div>
<table class="font-monospace table table-danger table-striped table-hover col-md-10">
    <tr>
        <th>Date of Visit</th>
        <th>Street Number</th>
        <th>Street Name</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Country</th>
    </tr>
    @foreach (var item in Model.Alert.DangerousCase.VisitedPlaces)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
        </tr>
    }
</table>
}

<div>
    <a class="btn btn-primary" role="button"  asp-page="./Index">Back to List</a>
</div>
