@page
@model Project334.Pages.Alerts.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alert[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alert[0].DangerousCase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Alert) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangerousCase.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AlertID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AlertID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AlertID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
