@page
@model Project334.Pages.CheckOuts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VisitorCheckOut</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorCheckOut.MobilePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitorCheckOut.MobilePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorCheckOut.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitorCheckOut.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorCheckOut.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitorCheckOut.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorCheckOut.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitorCheckOut.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorCheckOut.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitorCheckOut.CheckOut)
        </dd>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <a class="fw-bold" asp-page="/BusinessActivities/Details" asp-route-id="@Model.VisitorCheckOut.BusinessActivityID">Visit Daily Activity</a>
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.VisitorCheckIn.ID">Edit</a>
        <a asp-page="./Index">Back to List</a>*@ |
    <a asp-page="/Index">Back to Search</a>
</div>
