@page
@model Project334.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <h4 class="display-4">Create an Appointment</h4>
        <hr class="my-4">
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="shadow p-3 m-3 bg-light rounded-lg col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-danger"><b>@Html.ValidationMessageFor(m => m.Appointment.BookAppointment.Patient.HadVirus)</b></div>
            <div class="text-danger"><b>@Html.ValidationMessageFor(m => m.Appointment.EligibilityToVaccine)</b></div>
            <div class="text-danger"><b>@Html.ValidationMessageFor(m => m.Appointment.BookAppointment.EligibilityToVaccine)</b></div>
            <div class="fw-bold">Details have to be verified by medical staff ONLY</div>

            <div class="form-group">
                <label asp-for="Appointment.MedicalInstitutionID" class="control-label"></label>
                <input asp-for="Appointment.MedicalInstitutionID" value="@ViewContext.HttpContext.Request.Query["medicalid"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.MedicalInstitutionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookAppointmentID" class="control-label"></label>
                <input asp-for="Appointment.BookAppointmentID" value="@ViewContext.HttpContext.Request.Query["bookid"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.BookAppointmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookAppointment.Patient.MobilePhone" class="control-label"></label>
                <input type="tel" asp-for="Appointment.BookAppointment.Patient.MobilePhone" value="@ViewContext.HttpContext.Request.Query["mobilephone"]" placeholder="(0x) xxxx xxxx" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.BookAppointment.Patient.MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookAppointment.Patient.LastName" class="control-label"></label>
                <input asp-for="Appointment.BookAppointment.Patient.LastName" value="@ViewContext.HttpContext.Request.Query["lastname"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.BookAppointment.Patient.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookAppointment.Patient.FirstMidName" class="control-label"></label>
                <input asp-for="Appointment.BookAppointment.Patient.FirstMidName" value="@ViewContext.HttpContext.Request.Query["firstname"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.BookAppointment.Patient.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookAppointment.Patient.Email" class="control-label"></label>
                <input asp-for="Appointment.BookAppointment.Patient.Email" value="@ViewContext.HttpContext.Request.Query["email"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.BookAppointment.Patient.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookAppointment.Patient.DOB" class="control-label"></label>
                <input asp-for="Appointment.BookAppointment.Patient.DOB" value="@ViewContext.HttpContext.Request.Query["patientdob"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.BookAppointment.Patient.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookAppointment.Patient.Comment" class="control-label"></label>
                <textarea asp-for="Appointment.BookAppointment.Patient.Comment" class="form-control" readonly="readonly" />@ViewContext.HttpContext.Request.Query["comment"]</textarea>
                <span asp-validation-for="Appointment.BookAppointment.Patient.Comment" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@ViewContext.HttpContext.Request.Query["hadvirus"] == "True")
                    {
                        <input type="checkbox" class="form-check-input" asp-for="Appointment.BookAppointment.Patient.HadVirus" checked="checked" onclick="return false;" /> @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Patient.HadVirus)
                        <label class="badge bg-warning text-wrap" style="width: 6rem;">Had virus</label>
                    }
                    @if (@ViewContext.HttpContext.Request.Query["hadvirus"] == "False")
                    {
                        <input type="checkbox" class="form-check-input" asp-for="Appointment.BookAppointment.Patient.HadVirus" onclick="return false;" /> @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Patient.HadVirus)
                    }
                    @*<input type="checkbox" class="form-check-input" asp-for="Appointment.BookAppointment.Patient.HadVirus" value="@ViewContext.HttpContext.Request.Query["hadvirus"]" /> @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Patient.HadVirus)*@
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@ViewContext.HttpContext.Request.Query["eligibility"] == "True")
                    {
                        <input type="checkbox" class="form-check-input" asp-for="Appointment.BookAppointment.EligibilityToVaccine" checked="checked" onclick="return false;" /> @Html.DisplayNameFor(model => model.Appointment.BookAppointment.EligibilityToVaccine)
                    }
                    @if (@ViewContext.HttpContext.Request.Query["eligibility"] == "False")
                    {
                        <input type="checkbox" class="form-check-input" asp-for="Appointment.BookAppointment.EligibilityToVaccine" onclick="return false;" /> @Html.DisplayNameFor(model => model.Appointment.BookAppointment.EligibilityToVaccine)
                        <label class="badge bg-primary text-wrap" style="width: 6rem;">Not eligible</label>
                    }
                    @*<input type="checkbox" class="form-check-input" asp-for="Appointment.BookAppointment.EligibilityToVaccine" value="@ViewContext.HttpContext.Request.Query["eligibility"]" /> @Html.DisplayNameFor(model => model.Appointment.BookAppointment.EligibilityToVaccine)*@
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Appointment.BookAppointment.Medicare" class="control-label"></label>
                <input asp-for="Appointment.BookAppointment.Medicare" value="@ViewContext.HttpContext.Request.Query["medicare"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.BookAppointment.Medicare" class="text-danger"></span>
            </div>
            <hr />

            <div><b><a href="https://www.health.gov.au/resources/apps-and-tools/covid-19-vaccine-eligibility-checker">Check Eligibility to vaccination</a></b></div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Appointment.EligibilityToVaccine" /> <label class="badge bg-info text-wrap" style="width: 8rem;">@Html.DisplayNameFor(model => model.Appointment.EligibilityToVaccine)</label>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input type="datetime" asp-for="Appointment.AppointmentDate" placeholder="dd/MM/yyyy HH:mm" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="Appointment.Vaccine.PatientID" class="control-label"></label>
                <input asp-for="Appointment.Vaccine.PatientID" value="@ViewContext.HttpContext.Request.Query["patientid"]" class="form-control" readonly="readonly" />
                <span asp-validation-for="Appointment.Vaccine.PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Vaccine.Name" class="control-label"></label>
                <input asp-for="Appointment.Vaccine.Name" class="form-control" />
                <span asp-validation-for="Appointment.Vaccine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Vaccine.Number" class="control-label"></label>
                <input asp-for="Appointment.Vaccine.Number" class="form-control" />
                <span asp-validation-for="Appointment.Vaccine.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Vaccine.ProductionDate" class="control-label"></label>
                <input asp-for="Appointment.Vaccine.ProductionDate" class="form-control" />
                <span asp-validation-for="Appointment.Vaccine.ProductionDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <div class="text-danger"><b>@Html.ValidationMessageFor(m => m.Appointment.BookAppointment.Patient.HadVirus)</b></div>
                <div class="text-danger"><b>@Html.ValidationMessageFor(m => m.Appointment.EligibilityToVaccine)</b></div>
                <div class="text-danger"><b>@Html.ValidationMessageFor(m => m.Appointment.BookAppointment.EligibilityToVaccine)</b></div>
            </div>
        </form>
    </div>
</div>

    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <a class="btn btn-primary" role="button" asp-page="/MedicalInstitutions/Details" asp-route-id="@ViewContext.HttpContext.Request.Query["medicalid"]">Back to Medical Place</a>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
