@page
@model Project334.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Patient.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.BookAppointment.Patient.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Patient.MobilePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.BookAppointment.Patient.MobilePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Patient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.BookAppointment.Patient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Patient.HadVirus)
        </dt>
            @*@Html.DisplayFor(model => model.Appointment.BookAppointment.Patient.HadVirus)*@
            @if (Model.Appointment.BookAppointment.Patient.HadVirus == true)
            {
                <dd class="col-sm-10">Had Virus</dd>
            }
            @if (Model.Appointment.BookAppointment.Patient.HadVirus == false)
            {
                <dd class="col-sm-10">No Virus</dd>
            }

    </dl>
        <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.BookAppointment.Medicare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.BookAppointment.Medicare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.BookAppointment.EligibilityToVaccine)
        </dt>
            @*Html.DisplayFor(model => model.Appointment.BookAppointment.EligibilityToVaccine)*@
            @if (Model.Appointment.BookAppointment.EligibilityToVaccine == true)
            {
                <dd class="col-sm-10"><b>Eligible by <a href="https://covid-vaccine.healthdirect.gov.au/eligibility">link</a></b></dd>
            }
            @if (Model.Appointment.BookAppointment.EligibilityToVaccine == false)
            {
                <dd class="col-sm-10"><b>Not eligible by <a href="https://covid-vaccine.healthdirect.gov.au/eligibility">link</a></b></dd>
            }
    </dl>
        <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.EligibilityToVaccine)
        </dt>
            @*@Html.DisplayFor(model => model.Appointment.EligibilityToVaccine)*@
            @if (Model.Appointment.EligibilityToVaccine == true)
            {
                <dd class="col-sm-10"><b>Eligible by medical staff</b></dd>
            }
            @if (Model.Appointment.EligibilityToVaccine == false)
            {
                <dd class="col-sm-10"><b>No eligible by medical staff</b></dd>
            }
    </dl>
        <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Vaccine.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Vaccine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Vaccine.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Vaccine.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Vaccine.ProductionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Vaccine.ProductionDate)
        </dd>
    </dl>
    <hr />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.AppointmentID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
