@page
@model Project334.Pages.Businesses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Business.Name</h1>

<div>
    <h4>Company Information and Activities</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.ABN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.ABN)
        </dd>

        <dd class="col-sm-12"><hr /></dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.CompanyAddress.StreetNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.CompanyAddress.StreetNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.CompanyAddress.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.CompanyAddress.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.CompanyAddress.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.CompanyAddress.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.CompanyAddress.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.CompanyAddress.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.CompanyAddress.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.CompanyAddress.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.CompanyAddress.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.CompanyAddress.Country)
        </dd>
        <dd><hr /></dd>

        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Working Date</th>
                    <th><a asp-page="/BusinessActivities/CreateNew" asp-route-Id="@Model.Business.BusinessID">Add new Working Day</a></th>
                </tr>
                @foreach (var item in Model.Business.DailyActivities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkingDate)
                        </td>
                        <td><a asp-page="/BusinessActivities/Details" asp-route-Id="@item.BusinessActivityID">Show Visitors</a></td>
                        <td><a asp-page="/CheckIns/CreateNew" asp-route-Id="@item.BusinessActivityID">Add CheckIn</a></td>
                        <td><a asp-page="/CheckOuts/CreateNew" asp-route-Id="@item.BusinessActivityID">Add CheckOut</a></td>
                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Business.BusinessID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>