@page
@model Project334.Pages.Businesses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].ABN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Business) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ABN)
            </td>
            <td>
<<<<<<< HEAD
                <a asp-page="./Edit" asp-route-id="@item.ID" onclick="return false;">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
=======
                <a asp-page="./Edit" asp-route-id="@item.BusinessID" onclick="return false;">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BusinessID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BusinessID">Delete</a>
>>>>>>> 893a046b2eb932311dca35e4d2d1c5f8aba39762
            </td>
        </tr>
}
    </tbody>
</table>
